root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.rs]
indent_size = 4
max_line_length = 100

[*.md]
# Do not trim trailing whitespace in Markdown files.
# In Markdown, two trailing spaces at the end of a line
# indicate a hard line break in the rendered output
trim_trailing_whitespace = false
