# === Rust & Cargo ===

# Build artifacts
/target
**/target/
**/debug/
**/release/

# Generated schema files (CosmWasm)
/schema/
**/schema/

# Temporary or backup Rust files
**/*.rs.bk
.cargo-ok

# === IDEs & Editors ===

# VSCode
.vscode/

# JetBrains IDEs (CLion, IntelliJ, RustRover, etc.)
.idea/
*.iml

# === macOS system files ===
.DS_Store

# === Windows build artifacts ===
*.pdb

# === GitHub Actions artifacts (optional) ===
/artifacts/
/contracts/disburser/artifacts/
/contracts/price-feeder/artifacts/
/contracts/factory/artifacts/

# Deploy configs
configs/config.mk
configs/instantiate_msg.json
